
:root {

  /**
   * colors
   */

  --light-steel-blue: hsl(218, 33%, 77%);
  --royal-blue-light: hsl(225, 68%, 53%);
  --flickr-blue_30: hsla(225, 68%, 53%, 0.3);
  --carolina-blue: hsl(201, 92%, 47%);
  --oxford-blue-1: hsl(218, 70%, 18%);
  --oxford-blue-2: hsl(217, 100%, 12%);
  --oxford-blue-3: hsl(218, 71%, 11%);
  --gainsboro_50: hsla(0, 0%, 85%, 0.5);
  --lavender-web: hsl(225, 67%, 91%);
  --sonic-silver: hsl(0, 0%, 47%);
  --light-gray: hsl(0, 0%, 84%);
  --cultured: hsl(0, 0%, 97%);
  --black_10: hsla(0, 0%, 0%, 0.1);
  --black_8: hsla(0, 0%, 0%, 0.08);
  --white: hsl(0, 0%, 100%);
  --black: hsl(0, 0%, 0%);
  --jet: hsl(0, 0%, 20%);

   /**
   * gradient color
   */

  --gradient: linear-gradient( 90deg, var(--carolina-blue) 0%, var(--royal-blue-light) 100%);

  /**
   * typography
   */

  --ff-roboto: "Roboto", sans-serif;
  --ff-poppins: "Poppins", sans-serif;
